<!DOCTYPE html>
<html>
    <body>
    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>
    <!-- 本番バージョン、サイズと速度のために最適化されています -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="App3.js"></script>
    </body>
</html>
