<!DOCTYPE html>
    <html>
    <body>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <!-- 本番バージョン、サイズと速度のために最適化されています -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="App5.js"></script>
    </body>
</html>
