<!DOCTYPE html>
    <html>
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
    <body>
    <!-- 本番バージョン、サイズと速度のために最適化されています -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="App6.js"></script>
    </body>
</html>
