<!DOCTYPE html>
    <html>
        <div id="app-7">
            <ol>
                <!--
                  各 todo-item の内容を表す todo オブジェクトを与えます。
                  これにより内容は動的に変化します。
                  また後述する "key" を各コンポーネントに提供する必要があります。
                -->
                <todo-item
                        v-for="item in groceryList"
                        v-bind:todo="item"
                        v-bind:key="item.id"
                ></todo-item>
            </ol>
        </div>
    <body>
        <!-- 本番バージョン、サイズと速度のために最適化されています -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="App7.js"></script>
    </body>
</html>
